$blue: #058; $green: #00AC66; $teal: #9CF5CF; $grey: #636363; $yellow: #DEDB6C;
$content-width: 960px;


header {
  margin: 0;
  position: sticky;
  top: 0px;
  background: #BDBDBD;
  nav {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    ul {
      list-style-type: none;
      border: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        position: relative;
        text-align: center;
        height: 84px;
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 84px;
        float: left;
      }
    }
  }
}

h1 {
  color: $blue;
  font-family: "Century Gothic";
  
}

h2 {
  color: $grey;
}

a {
  text-decoration: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
}

#main-image {
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
}

#visit {
  iframe {
    padding-right: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
  }
}

body {
  margin: 0;
}

footer {
  margin: 0;
  text-align: center;
  background-color: $blue;
  padding: 2em;
  color: white;
}
