<section id="services">
    <h2>SERVICES</h2>
    <a href="/bulletin">Latest Bulletin</a>
    <div class="grid">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Sabbath (Saturday)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sabbath School  <b>@ 11:00AM</b></td>
                    </tr>
                    <tr>
                        <td>Praise & Worship</td>

                    </tr>
                    <tr>
                        <td>Divine Worship</td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                    </tr>
                    <tr>
                        <td>Vespers</td>
                    </tr>
                </tbody>
            </table>    
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Additional Services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div>Prayer & Bible Study</div> <div><b>Wednesdays, 6-7:30PM</b></div></td>
                    </tr>
                    <tr>
                        <td><div>Prayer Meeting</div> <div><b>First Monday of the Month @ 7:00PM on Zoom</b></div></td>
                    </tr>
                    <tr>
                        <td><div>Women's Meeting</div> <div><b>Every Monday @ 7:00PM on Zoom (Except for the first Monday of the month)</b></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

