<div class="scripture">
    <b>{{title}}:</b>
    <a href="https://www.biblegateway.com/passage/?search={{encode reference}}&version=KJV"
        target="_blank">{{reference}}</a>
    {{#if text}}
    <em>{{text}}</em>
    {{/if}}
</div>