 body {
     font-family: Arial, sans-serif;
 }

 .container {
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     max-width: 800px;
 }

 .left-column,
 .right-column {
     width: 48%;
 }

 .announcement {
    margin-top: 5px;
 }

 .item {
    margin-top: 5px;
 }

 @media print and (orientation: landscape) {

     /* Reduce margin and padding for better printing */
     body,
     .container,
     .left-column,
     .right-column {
         margin: 0;
         padding: 0;
     }

     .container {
         flex-direction: row;
     }

     .left-column,
     .right-column {
         width: 45%;
     }

     /* Hide some elements not necessary for printing */
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         page-break-after: avoid;
     }

     a {
         text-decoration: none;
         color: black;
     }

     a[href]:after {
         display: none;
     }

 }