.navbar-full {
    margin-left: 12px;
    margin-right: 12px;
}

.navbar-mobile {
    margin-left: 8px;
    margin-right: 8px;
}

.live-indicator {
    display: inline;
    position: relative;
} 

.live-indicator-red {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .navbar-full {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }
  }

@media screen and (min-width: 601px) {
    .navbar-full {
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }
}