---
import MainLayout from "../layouts/MainLayout.astro";
import Beliefs from "../components/Beliefs.astro";
---

<MainLayout title="About">
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>About</li>
        </ul>
    </nav>

    <Beliefs />
</MainLayout>
