---
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
import cashappImage from "../images/cashapp.webp";
---

<MainLayout title="Giving" canonical="giving">
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li>Giving</li>
        </ul>
    </nav>
    <h1 style="text-align: center;">GIVING</h1>
    <p style="text-align: center; font-size: 1.2em;">
        Thank you for your generosity! Your contributions help us to continue
        our mission and serve our community.
    </p>
    <hr />
    <div class="grid">
        <div id="giving-tithely">
            <h3>Tithe.ly</h3>
            <button
                class="tithely-give-button"
                data-form="6620135f-5d42-11ee-90fc-1260ab546d11"
                style="background-color: #00DB72; font-family: inherit; font-weight: bold; font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;"
                >Give</button
            ><script src="https://static.tithely.com/give/give.js" defer
            ></script>
        </div>
        <div id="giving-cashapp">
            <h3>Cash App</h3>
            <div>
                <a href="https://cash.app/$philasdb" target="_blank"
                    >$PhilaSDB</a
                >
            </div>
            <a href="https://cash.app/$philasdb" target="_blank">
                <Picture
                    src={cashappImage}
                    formats={["avif", "webp", "jpg"]}
                    width="256"
                    height="256"
                    id="cashapp"
                    class="centered"
                    alt="Cash App QR code"
                    loading="lazy"
                />
            </a>
        </div>
        <div id="giving-paypal">
            <h3>PayPal</h3>
            <div id="donate-button-container">
                <div id="donate-button"></div>
                <script
                    src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js"
                    charset="UTF-8"></script>
                <script>
                    PayPal.Donation.Button({
                        env: "production",
                        hosted_button_id: "ZQF5AXVD49T78",
                        image: {
                            src: "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif",
                            alt: "Donate with PayPal button",
                            title: "PayPal - The safer, easier way to pay online!",
                        },
                    }).render("#donate-button");
                </script>
            </div>
        </div>
    </div>
</MainLayout>
