---
---

<section id="beliefs">
<h1>OUR BELIEFS</h1>
<p>At Philadelphia Seventh Day Baptist Church we consider liberty of thought under the guidance of
    the Holy Spirit to be essential to Christian belief and practice. Therefore we encourage the unhindered
    study and open discussion of Scripture. We uphold the individual&apos;s freedom of conscience in seeking to
    determine and obey the will of God. The following statement is not intended to be exhaustive, but is an
    expression of our common belief, which is derived from our understanding of scripture:</p>
<blockquote>
    <div><i><sup>17</sup> Now the Lord is that Spirit: and where the Spirit of the Lord is, there is liberty.
        <sup>18</sup> But we all, with open face beholding as in a glass the glory of the Lord, are changed
        into the same image from glory to glory, even as by the Spirit of the Lord. <strong>- 2 Corinthians
            3:17-18</strong></i></div>
    <div><i><sup>15</sup> Study to shew thyself approved unto God, a workman that needeth not to be
            ashamed, rightly dividing the word of truth.
        <strong>- 2 Timothy 2:15</strong></i></div>
</blockquote>
<h3>MORE</h3>
<div><a href="https://www.seventhdaybaptist.org/statement-of-belief/" target="_blank">Statement of Belief</a></div>
<div><a href="https://www.seventhdaybaptist.org/statement-of-belief/" target="_blank">Salvation</a></div>
<div><a href="https://www.seventhdaybaptist.org/statement-of-belief/" target="_blank">Sabbath</a></div>
</section>