<footer class="container">
    <div style="text-align: center;">
        <address>
            <div>6841 Ardleigh St, Philadelphia, PA 19119</div>
            <div><a href="tel:+12673352987">(267) 335-2987</a></div>
            <div><a href="mailto:philasdb@gmail.com">philasdb@gmail.com</a></div>
            <div>&copy; Philadelphia Seventh Day Baptist Church, All Rights Reserved</div>
        </address>
    </div>
</footer>   