---
import { Picture } from "astro:assets";
import coverImage from "../assets/img/cover_image.webp";
---

<section id="hero">
  <div
    style="position: relative; width: 100%; height: auto; aspect-ratio: 16/9;"
  >
    <Picture
      style="width: 100%; height: 100%; object-fit: cover;"
      src={coverImage}
      formats={["avif", "webp", "jpg"]}
      alt="Philadelphia Seventh Day Baptist Church"
      loading="eager"
      fetchpriority="high"
    />
  </div>
  <blockquote>
    <div>
      <i
        ><sup><strong>8</strong></sup> Remember the sabbath day, to keep it holy.
        <strong>- Exodus 20:8</strong></i
      >
    </div>
  </blockquote>
</section>
