---
import Picture from "astro/components/Picture.astro";
import pastorImage from "../assets/img/pastor.webp";
---

<section id="pastor">
  <h2>PASTOR KENROY CRUICKSHANK</h2>
  <div class="pastor-info">
    <div class="pastor-bio">
      <blockquote>
        <Picture
          src={pastorImage}
          formats={["avif", "webp", "jpg"]}
          alt="Pastor"
          width="180"
          height="180"
          loading="lazy"
        />
        <p>
          <i
            >"When I look back to over 35 years ago, it seems like only
            yesterday that I got off the plane and I was met by my wife Mauleen.
            As I arrived in Ambler, it was as if I was in a strange world. I
            could not understand the people and they could not understand me.
            However, I believed deep in my heart that I was called to start a
            Seventh Day Baptist Church in this area. The ministry is part of me
            and the conviction was deep in my spirit. Over the years, the Lord
            has blessed me with two children and a church. I accept the
            challenge to seek out new opportunities and ways of leading others
            to Christ in and around Philadelphia. As pastor, I invite you to
            come and worship with us. - <b>Pastor Kenroy Cruickshank</b></i
          >
        </p>
      </blockquote>
    </div>
  </div>
</section>
