<section id="welcome">
    <h1>WELCOME</h1>
    <p>
        Welcome to Philadelphia Seventh Day Baptist Church! We are a
        bible-believing <a
            href="https://www.seventhdaybaptist.org/"
            target="_blank">Seventh Day Baptist</a
        > church located in the Mt. Airy area in Philadelphia. Please come fellowship
        with us and feel free to stay for lunch!
    </p>
</section>
