---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, canonical } = Astro.props;

const canonicalUrl = `https://philasdb.org/${canonical}`;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-MZMXKFJVK9"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-MZMXKFJVK9");
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Philadelphia Seventh Day Baptist Church"
		/>
		<meta name="author" content="Philadelphia Seventh Day Baptist Church" />
		<meta
			name="keywords"
			content="Philadelphia Seventh Day Baptist Church, SDB, Sabbath worship, Mt. Airy, Saturday worship, Bible study, Philadelphia church, Christian, seventh day baptist"
		/>
		<link rel="canonical" href={canonicalUrl} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.1.1/css/pico.min.css" integrity="sha384-L1dWfspMTHU/ApYnFiMz2QID/PlP1xCW9visvBdbEkOLkSSWsP6ZJWhPw6apiXxU" crossorigin="anonymous">
>

		<title>Philadelphia Seventh Day Baptist Church | {title}</title>
	</head>
	<body>
		<Header />
		<main class="container" style="margin-top: 80px;">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
