<section id="location">
    <h2>VISIT US</h2>
    <p>We are located at the corner of Gorgas and Ardleigh St in Mt. Airy, Philadelphia a few blocks away from
        Stenton Avenue and a short walk away from the Stenton Station on the Chestnut Hill East Line. Our
        services start at <strong>11:00 AM</strong>, beginning with Sabbath School on Saturdays.</p>
    <address>
        <div>6841 Ardleigh St</div>
        <div>Philadelphia, PA 19119</div>
        <div><a href="tel:+12673352987">(267) 335-2987</a></div>
        <div><a href="mailto:philasdb@gmail.com">philasdb@gmail.com</a></div>
    </address>
    <iframe title="Philadelphia Seventh Day Baptist Church Location" style="width: 100%; height: 450px; border: 0;" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJx2YWY5W5xokRrhQ-T3jbglk&key=AIzaSyCmUq3PwmL4LFtfQABxKIbAl-4yxgn4J8M"></iframe>
</section>