<section id="welcome">
    <h1>WELCOME</h1>
    <p>
        Welcome to Philadelphia Seventh Day Baptist Church! We're a
        Bible-centered <a
            href="https://www.seventhdaybaptist.org/"
            target="_blank">Seventh Day Baptist</a
        > church in the Mt. Airy neighborhood of Philadelphia. We invite you to worship
        with us and join us for fellowship.
    </p>
</section>
