
name: Deploy Github Pages

on:
  push:
    branches: [ "main" ]
    paths: [ "web/**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install --frozen-lockfile
        
      - name: Build Website
        run: bun run build

      - name: Upload artifact
        id: upload-artifact
        uses: actions/upload-pages-artifact@v4
        with:
            name: 'github-pages'
            path: "web/dist/"
            retention-days: 1
      
  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
  
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
